@import './Variables.scss';


#name {
    color: $mainColor;
}


#aboutMe {
    margin-bottom: 50px;
}


ul {

    li {
        list-style: none;
        display: inline;
        margin-right: 8px;


        svg {
            fill: white;

            &:hover{
                fill: $mainColor;
                transform: scale(1.5);
            }
        }
    }



}





button {

    background-color: $mainColor;
    margin-right: 12px;
    border: 0;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;


    
}




#emailBtn, #projectBtn  {
    
    &:hover {
        background-color: darken($color: $mainColor, $amount: 10);
        // box-shadow: 5px 5px 5px $mainColor;
        
    }    


    svg {
        margin-right: 5px;
    }
}


#resumeBtn {
    background-color: rgba($color: #000000, $alpha: 1.0);
    border: solid white 1px;
    box-shadow: 0px 0px 5px $mainColor;



    &:hover {
        border: solid $mainColor 1px;
        color: $mainColor;
    }    



    svg {
        margin-right: 5px;
    }
}

