#name {
  color: #2d9bf5;
}

#portrait {
  height: 150px;
  margin: 50px 0 10px 0;
  border: white 2px solid;
  border-radius: 100%;
  padding: 20px;
}

#aboutMe {
  margin-bottom: 50px;
}

#aboutMe p {
  padding: 0px 20px;
  text-align: center;
}

ul li {
  list-style: none;
  display: inline;
  margin-right: 8px;
}

ul li svg {
  fill: white;
}

ul li svg:hover {
  fill: #2d9bf5;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

button {
  background-color: #2d9bf5;
  margin-right: 12px;
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
}

#emailBtn, #projectBtn {
  background-color: #2d9bf5;
  margin-right: 12px;
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
}

#emailBtn:hover, #projectBtn:hover {
  background-color: #0b82e4;
  cursor: pointer;
}

#emailBtn svg, #projectBtn svg {
  margin-right: 5px;
}

#resumeBtn {
  background-color: black;
  border: solid white 1px;
  -webkit-box-shadow: 0px 0px 5px #2d9bf5;
          box-shadow: 0px 0px 5px #2d9bf5;
}

#resumeBtn:hover {
  border: solid #2d9bf5 1px;
  color: #2d9bf5;
  cursor: pointer;
}

#resumeBtn svg {
  margin-right: 5px;
}

#socialLinks {
  margin-bottom: 40px;
}

#emailBtns, #projectBtns {
  background-color: #2d9bf5;
  margin-right: 12px;
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

#emailBtns:hover, #projectBtns:hover {
  background-color: #0b82e4;
  cursor: pointer;
}

#emailBtns svg, #projectBtns svg {
  margin-right: 5px;
}

#resume {
  margin-right: 12px;
  border: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  background-color: black;
  border: solid white 1px;
  -webkit-box-shadow: 0px 0px 5px #2d9bf5;
          box-shadow: 0px 0px 5px #2d9bf5;
  text-decoration: none;
  font-size: 14px;
}

#resume:hover {
  border: solid #2d9bf5 1px;
  color: #2d9bf5;
}

#resume svg {
  margin-right: 5px;
}

.homeProjects {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 0;
}

.homeProjects img:hover {
  cursor: pointer;
}

.homeProjects #imageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 5px;
}

.homeProjects #imageBox img {
  width: 300px;
  margin: 2px 10px 15px 10px;
  -webkit-box-shadow: 3px 1px 2px black;
          box-shadow: 3px 1px 2px black;
}

.homeProjects #imageBox img:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

#portBtn {
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 3px 1px 2px black;
          box-shadow: 3px 1px 2px black;
}

#portBtn:hover {
  background-color: #0b82e4;
  cursor: pointer;
}

#imHere {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

#imHere:hover {
  -webkit-filter: none !important;
          filter: none !important;
}

@media (min-width: 1136px) {
  #ExperienceContainer {
    padding: 0px 5%;
  }
}
/*# sourceMappingURL=home.css.map */