@import './Variables.scss';


$orange1: rgb(255, 38, 0);
$orange2: #ff7004;
$orange3: orange;
$orange4: rgb(255, 210, 7);




h2 {
    // margin-top: 50px;
    padding-top: 50px;
}


#journeySection {
    background-color: lighten($color: #000000, $amount: 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 




    #journey1 {
        grid-area: 1 / 1 / 2 / 2; 
    }

    #journey2 {
        grid-area: 1 / 2 / 2 / 3; 
    }
}


.bar {

    background-color: grey;
    height: 5px;
    width: 90%;


    .reactBar {
        background-color: $orange1;
        height: 5px;
        width: 90%;
    }

    .javascriptBar {
        background-color: $orange1;
        height: 5px;
        width: 90%;
    }

    .htmlBar {
        background-color: $orange1;
        height: 5px;
        width: 90%;
    }

    .cssBar {
        background-color: $orange2;
        height: 5px;
        width: 75%;
    }

    .sassBar {
        background-color: $orange2;
        height: 5px;
        width: 75%;
    }

    .threeBar {
        background-color: $orange4;
        height: 5px;
        width: 15%;
    }
    .nodeBar {
        background-color: $orange3;
        height: 5px;
        width: 25%;
    }
    .expressBar {
        background-color: $orange3;
        height: 5px;
        width: 25%;
    }
    .pythonBar {
        background-color: $orange3;
        height: 5px;
        width: 40%;
    }
    .mongoBar {
        background-color: $orange3;
        height: 5px;
        width: 25%;
    }

    
}




#languages {
    
    h4 {
        text-align: left;
    }
}



#youtube {
    background-color: red;
    border-radius: 5px;
    padding: 5px;


    &:hover {
        background-color: darken($color: red, $amount: 10);
    }


    svg {
        // fill: red;
        margin-right: 5px;
    }


    a {
        text-decoration: none;
        color: white;
    }
}



#frontend {
    margin-top: 32px;
}


#cert {
    width: 50%;
    min-width: 160px;
    display: block;
    // margin-bottom: 10px;
    margin: 0 auto;
    // word-spacing: 10px;

    
    
    &:hover {
        filter: opacity(90%);
        cursor: pointer;
        transform: scale(1.05);
        // transform: translate(0px, -20px);
        // transform: skew(10deg, 10deg);
    }
}

#certSection {
    margin-top: 50px;
    margin-bottom: 50px;
    
        h4 {
            margin: 15px 0 2px 0;
        }
}


#techSection {
    // margin-top: 15%;
    margin-top: 50px;

    #techHeader {
        margin-bottom: 50px;
    }
}



// ? ICONS

#sassIcon {
    fill: #cf649a;
}

#styleIcon {
    fill: #ffd04e;
}


#jsIcon {
    fill: #f7e018;
    color: black;
}

#bootstrapIcon {
    fill: #800af8;
    // background-color: white;
    
}


#reactIcon {
    fill: #61dbfb;
}

// #html5 {
//     fill: #e44d26;
// }

// #css {
//     fill: #2965f1;
// }

#pythonIcon {
    fill: #3772a5;
}


#expressIcon {
    background-color: #2e2e2e;
    border-radius: 100%;
    padding: 3px;

    &:hover {
        fill: white;
    }
}


#nodeIcon {
    fill: #539e43;
}


#mongoIcon {
    fill: #159452;
}


#gitIcon {
    fill: #f05033;
}


#postmanIcon {
    fill: #ff6c37;
}

#yarnIcon {
    // fill: #2c8ebb;
    color: white;

    &:hover {
        fill: #2c8ebb;
    }
}




.divIcons {
    display: inline-block;

    p {
        text-align: center;
    }

    svg {
        margin: 0 auto;
    }

    margin-right: 2px;
}


.skillList {
    margin: 0 auto;
    padding: 0;
    height: 90px;
}


hr {
    width: 80px;

}

// .headerSecs {
//     border-bottom: 2px solid $mainColor;
// }



// ! Media Queries

@media (max-width: 708px) {
    #journeySection {
        background-color: lighten($color: #000000, $amount: 0);
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: 1fr;
        // grid-column-gap: 0px;
        // grid-row-gap: 0px; 
    
    
    
    
        #journey1 {
            // grid-area: 1 / 1 / 2 / 2; 
            // all: revert;
            // all: none;
            width: 200%;

        }
    
        #journey2 {
            // grid-area: 1 / 2 / 2 / 3; 
            display: none;
            // visibility: collapse;
            
        }
    }
}