@import './Variables.scss';



.navbar {
    
    
    
    li {
        list-style: none;
        
        
        a {
            text-decoration: none;
            color: white;
            margin-right: 5px;
        }
    }


}

nav {
    padding-top: 20px;
    a {
        color: white;
        margin-right: 10px;

        &:hover {
            color: $mainColor;
        }
    }
}