svg {
  margin-right: 5px;
}

#sass {
  fill: #cf649a;
}

#javascript {
  fill: #f7e018;
  color: black;
}

#bootstrap {
  fill: #800af8;
}

#react {
  fill: #61dbfb;
}

#html5 {
  fill: #e44d26;
}

#css {
  fill: #2965f1;
}

#projectBody {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 10%;
}

#projectBody h2 {
  padding: 0;
}

.mainTitles {
  text-align: left;
}

p {
  text-align: left;
}

#gridBody {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#gridBody #grid1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  margin-right: 50px;
}

#gridBody #grid2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

#gridBody #grid2 h1 {
  text-align: left;
}

#techlogo {
  width: 300px;
  height: 184.8px;
}

#previmg {
  width: 300px;
}

#buttonSec {
  margin-top: 20px;
  margin-bottom: 30px;
}

#demoBtn {
  background-color: green;
  margin-right: 12px;
  border: 0;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

#demoBtn:hover {
  background-color: #004d00;
  cursor: pointer;
}

#demoBtn svg {
  margin-right: 5px;
}

#codebaseBtn {
  background-color: red;
  margin-right: 12px;
  border: 0;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

#codebaseBtn:hover {
  background-color: #cc0000;
  cursor: pointer;
}

#codebaseBtn svg {
  margin-right: 1px;
}

a {
  text-decoration: none;
}

#imageDemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 21px;
}

#portfolioTitle {
  padding-top: 0;
}

#projectTitles {
  margin: 30px 0;
  font-size: 2rem;
}

#tabPics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numberTabs {
  color: white;
}

.numberTabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
}

.numberTabs li {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  margin-bottom: 3px;
  padding: 8px 12px;
  border-radius: 2px;
  font-family: "Cabin", sans-serif;
}

.numberTabs li:hover {
  background-color: #2d9bf5;
  cursor: pointer;
}

#numberTabsRight {
  display: none;
}

@media (max-width: 708px) {
  .App {
    overflow-x: hidden;
  }
  #numberTabsRight {
    display: inline-block;
  }
  #numberTabsRight ul {
    padding-left: 8px;
  }
  .numberTabs {
    display: none;
  }
  #gridBody {
    display: block;
    padding: 10px 0;
  }
  #gridBody #grid1 {
    all: revert;
  }
  #gridBody #grid2 {
    all: revert;
  }
}
/*# sourceMappingURL=portfolio.css.map */