@import './Variables.scss';


svg {
    margin-right: 5px;
    // height: ;
}


#sass {
    fill: #cf649a;
}


#javascript {
    fill: #f7e018;
    color: black;
}

#bootstrap {
    fill: #800af8;
    // background-color: white;
    
}


#react {
    fill: #61dbfb;
}

#html5 {
    fill: #e44d26;
}

#css {
    fill: #2965f1;
}


#projectBody {
    background-color: rgba($color: white, $alpha: 0.1);
    padding: 0px 10%;
}

.mainTitles {
    // background-color: $mainColor;
    // width: 220px;
    text-align: left;
    
}


p  {
    text-align: left;
}





#gridBody {
    // background-color: lighten($color: #000000, $amount: 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 




    #grid1 {
        grid-area: 1 / 1 / 2 / 2; 
        margin-right: 50px;
    }

    #grid2 {
        grid-area: 1 / 2 / 2 / 3; 
    

        h1 {
            text-align: left;
        }


    
    }
}


#techlogo {
    width: 25%;
}



#buttonSec {
    margin-top: 10px;
    // margin-bottom: 10px;
}


#demoBtn {
    background-color: green;
    margin-right: 12px;
    border: 0;
    padding: 10px 10px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    


    &:hover {
        background-color: darken($color: green, $amount: 10);
        // box-shadow: 5px 5px 5px $mainColor;
        cursor: pointer;
    }    


    svg {
        margin-right: 5px;
    }
}


#codebaseBtn {
    background-color: red;
    margin-right: 12px;
    border: 0;
    padding: 10px 10px;
    color: white;
    border-radius: 4px;
    font-size: 14px;


    &:hover {
        background-color: darken($color: red, $amount: 10);
        // box-shadow: 5px 5px 5px $mainColor;
        cursor: pointer;
    }    


    svg {
        margin-right: 5px;
    }

}